{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <form action="#" name="expire_pass" method="post" style="max-width: 40rem" class="mx-auto">


                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">
                            <span class="fa-stack text-info">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-info fa-stack-1x"
                                   aria-hidden="true"></i></span> {{ get_Translation('Password', 'changePassword') }}
                        </h4>
                        <h6 class="card-subtitle">{{ get_Translation('Password', 'passwordRequirements') }}</h6>

                        <div class="card-body">
                            <ul class="list-icons">
                                <li>
                                    <i class="fa fa-check text-info"></i> {{ get_Translation('Password', 'passReqLatin') }}
                                </li>
                                <li>
                                    <i class="fa fa-check text-info"></i> {{ get_Translation('Password', 'passReqSymCnt') }}
                                </li>
                                <li>
                                    <i class="fa fa-check text-info"></i> {{ get_Translation('Password', 'passReqLowLet') }}
                                </li>
                                <li>
                                    <i class="fa fa-check text-info"></i> {{ get_Translation('Password', 'passReqUpLet') }}
                                </li>
                                <li>
                                    <i class="fa fa-check text-info"></i> {{ get_Translation('Password', 'passReqNum') }}
                                </li>
                            </ul>
                        </div>

                        <div class="form-group mt-5">
                            <label for="password">{{ get_Translation('Password', 'pass') }}</label>
                            <input required type="password" name="password" id="password" autocomplete="off"
                                   class="form-control">
                            <label for="pass2">{{ get_Translation('Password', 'passAgain') }}</label>
                            <input required type="password" name="pass2" id="pass2" autocomplete="off"
                                   class="form-control">
                        </div>
                        <button type="submit" data-loading-text="{{ get_Translation('System', 'pleaseWait') }}"
                                class="btn btn-primary center-block">{{ get_Translation('Password', 'confirm') }}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        (function (window, document, $, undefined) {
            $(function () {
                $('form[name="expire_pass"]').on('submit', function (e) {
                    e.preventDefault();
                    var frmData = new FormData($(this)[0]);

                    makeAjaxRequest(
                            '{{ path_for('user.page.expirePass') }}',
                            frmData,
                            function (data) {
                                if (data.st == 1) {
                                    showModal('{{ get_Translation('System', 'success') }}', '{{ get_Translation('System', 'successEdit') }}', '{{ path_for('home') }}');
                                }
                            },
                            function () {

                            }
                    )
                });

            });
        })(window, document, window.jQuery, null);
    </script>
{% endblock %}