{% extends 'templates/app_guest.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <form name="set_pass" data-toggle="validator" method="post" role="form" class="form-group"
                  style="max-width:400px;margin:0 auto;padding:90px 50px 20px; 50px;min-width:320px;">
                <img style="margin:0px auto;padding-bottom:20px;" src="{{ base_url() }}/img/linkmobility_logo.png"
                     class="img-responsive" alt="Voicecom" width="260" height="79">
                <h4 class="text-center">{{ get_Translation('Password', 'createPass') }}</h4>
                <label for="inputUser" class="sr-only">{{ get_Translation('LogIn', 'username') }}</label>
                <input name="loginName" id="loginName" type="text" class="form-control" placeholder="Потребител"
                       required
                       autocomplete="off">
                <label for="password" class="sr-only">{{ get_Translation('Password', 'pass') }}</label>
                <input name="password" style="margin-top:5px;margin-bottom:5px;" type="password" id="password"
                       class="form-control" placeholder="Парола" required autocomplete="off">
                <label for="pass2" class="sr-only">{{ get_Translation('Password', 'passAgain') }}</label>
                <input name="pass2" style="margin-top:5px;margin-bottom:5px;" type="password" id="pass2"
                       class="form-control"
                       placeholder="{{ get_Translation('Password', 'passAgain') }}" required autocomplete="off">
                <button style="margin-top:10px;" data-loading-text="{{ get_Translation('System', 'pleaseWait') }}"
                        class="btn btn-lg btn-primary btn-block"
                        type="submit">{{ get_Translation('System', 'save') }}</button>
                <div id="msg">

                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        (function (document, window, navigator, $, undefined) {
            $(function () {
                $("form[name='set_pass']").on("submit", function (e) {
                    e.preventDefault();

                    var button = $('button[type="submit"]');
                    button.button('loading');

                    var frmData = new FormData($('form[name="set_pass"]')[0]);
                    frmData.append('id', '{{ id }}');

                    makeAjaxRequest(
                            '{{ path_for('user.ajax.setPass') }}',
                            frmData,
                            function (data) {
                                if (data.st == 1) {
                                    showModal(
                                            '{{ get_Translation('System', 'success') }}',
                                            '<a href="{{ path_for('auth.signIn') }}">{{ get_Translation('Password', 'continueToLogin') }}</a>',
                                            '{{ path_for('auth.signIn') }}'
                                    );
                                    //$("#msg").html('<div class="alert alert-success" role="alert"><strong>Успешно!</strong>' +
                                      //      ' <a href="{{ path_for('auth.signIn') }}">{{ get_Translation('Password', 'continueToLogin') }}</a></div>');
                                }
                            },
                            function () {
                                button.button('reset');
                            }
                    )
                });
            });
        })(document, window, navigator, window.jQuery, null)

    </script>
{% endblock %}