{% extends 'templates/app.twig' %}

{% block content %}

    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <h4>{{ get_Translation('Translations', 'translationsAddTitle') }}</h4>

                <div class="card">
                    <form id="add-language-form" method="post" action="{{ path_for('language.add') }}">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>{{ get_Translation('Translations', 'translationsLanguage') }}</label>
                                    <input name="languages" type="text" class="form-control"
                                           title="{{ get_Translation('Translations', 'translationsLanguage') }}"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>{{ get_Translation('Translations', 'translationsCode') }}</label>
                                    <input name="language_code" type="text" class="form-control"
                                           title="{{ get_Translation('Translations', 'translationsCode') }}"/>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>{{ get_Translation('Translations', 'translationsFlag') }}</label>
                                <a tabindex="0" class="btn btn-sm" role="button" data-toggle="popover" data-trigger="hover"
                                   data-placement="top" data-content="{{ get_Translation('Translations', 'translationsFlagInfo') }}">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                                <div class="input-group">
                                    <label for="languageFlag" class="custom-file-label" aria-describedby="file-input-span">
                                        <input type="file" class="form-control custom-file-input" id="languageFlag" name="language_flag">
                                        <span data-value="{{ get_Translation('System', 'chooseFile') }}" class="custom-file-control form-control-file" style="border-radius:0;border-color: #e7e7e7;">
                                            {{ get_Translation('System', 'chooseFile') }}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button id="submit-button" type="submit" form="add-language-form"
                                        data-loading-text="{{ get_Translation('System', 'pleaseWait') }}"
                                        class="btn btn-success">
                                    <span class="fa fa-check-circle" aria-hidden="true"></span>
                                    {{ get_Translation('System', 'add') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var success = "{{ get_Translation('System', 'success') }}";
        var successAdd = "{{ get_Translation('System', 'successAdd') }}";
    </script>
    <script type="text/javascript" src="{{ base_url() }}/js/language/language_add.js"></script>
{% endblock %}